<nav class="shd navbar navbar-expand-md navbar-light bg-light p-4">
  <a class="navbar-brand px-2" (click)="navigate(urls)">Admin-Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto"> <!-- Utilize ml-auto to push items to the right on large screens -->
      <li class="nav-item">
        <a class="nav-link" #urls (click) = "navigate(urls)">
          Add bulk Urls
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  #reports (click)="navigate(reports)">
           Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" #comment (click)="navigate(comment)">
           Comments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" #admin (click)="navigate(admin)">
          Add admin
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" #options (click)="navigate(options)">
          Update options
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  #description (click)="navigate(description)">
           Description
        </a>
      </li>
      <!-- Add more navbar items as needed -->
    </ul>
  </div>
</nav>
  <br>
  <div id="addoptns" class="container shd py-3">
    <h2 class="title">
        Update Options
    </h2>
     <input class="form-control" type="text" #url required placeholder="Enter url...">
      <br>
     <textarea class="form-control" #updateoptns name="optns" id="optns" cols="60" placeholder="Enter options seperate them by comma(,)" rows="6"></textarea>
    <br>
    <button (click)="addOptions(updateoptns, url)" class="btn btn-primary button">Add Urls</button>
</div>