<nav class="topnav navbar navbar-expand-lg">
    <div class="container row">
      <div class="col-lg-8">
      <a class="navbar-brand" href="#"><i style="margin-top: 0px; color:#784cfa" class="fa-solid fa-house fa-md"></i></a>
        <span class="title">Down Check Up</span>
      </div>
      <div class="sidenav font-theme col-lg-4 offset-md-2">
        <i style="margin-top: 10px;" class="fa-solid fa-link fa-lg"></i>
        <span>Short URL</span>
        @ Downfor.io
      </div>
    </div>
</nav>
